/* GameLevel1.css */

.game-content {
    position: relative;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
    cursor: url('../../public/cursor/cursor_48x48_white.png') 24 24, auto;
}

.background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	z-index: 0;
}


.bg-stage-1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url('../../public/game_backgrounds_lvl_1/image-1.png');
}

.level-progress {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}

.progress-item {
    display: flex;
    align-items: center;
}

.square {
    width: 32px;
    height: 32px;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-family: 'Orbitron', sans-serif;
    border: 2px solid #ff7e5f;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 126, 95, 0.3), 0 0 15px rgba(255, 126, 95, 0.5);
    z-index: 1;
	transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.square.active {
	background-color: #ff1f1f;
	color: white;
	transform: scale(1.1);
	box-shadow: 0 0px 40px rgba(255, 0, 0, 0.973), 0 0 20px rgba(255, 0, 0, 0.7);
}

.line {
    width: 40px;
    height: 4px;
    background: linear-gradient(90deg, #ff7e5f, #feb47b);
    margin: 0 8px;
    z-index: 0;
    border-radius: 2px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2), 0 0 8px rgba(255, 126, 95, 0.5);
}

.line.active {
    background: linear-gradient(90deg, #ff1f1f, #ff7e5f);
    box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5), 0 0 12px rgba(255, 0, 0, 0.7);
}

.chain-style-level {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
}