.home-screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: url('/public/cursor/cursor.png'), auto;
}

.start-button {
    padding: 1rem 2.5rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    background: rgba(0, 0, 0, 1);
    border: 2px solid white;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 0 0 20px white;
    z-index: 2;
}

.start-button:hover {
    background: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 30px white;
}