.home-screen {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  .home-screen canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  .content {
    position: relative;
    z-index: 1;
    height: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    cursor: url('../../public/cursor/cursor_48x48_white.png') 24 24, auto;
  }
  
  .start-button {
    margin-top: 2rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: url('../../public/cursor/cursor_48x48_white.png') 24 24, auto;
    background-color: #ffffff00;
    border: 2px solid white;
    color: white;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .start-button:hover {
    background-color: #000000;
  }
  